<h1>About us</h1>

<h2>Welcome to airBnB</h2>

<form action="search">
  <label for="location">Location</label>
  <input type="text" name="location" placeholder="Where do you wanna go?">
  <input type="submit">
</form>
